@using WeddingVeneus1.Areas.VenueDetails.Models;
@using System.Data;
@model VenueDetails_ViewModel;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{

    if (accessor.HttpContext.Session.GetString("Role") == "VenueOwner" || accessor.HttpContext.Session.GetString("Role") == "Admin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
        ViewBag.ShowIcon = true;

    }
}
@if(ViewBag.ISFavourite == true)
{
    <partial name="_SearchFormPartial" />
    @foreach (DataRow dr in Model.VenueDetails.Rows)
    {
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-card d-flex justify-content-between">
                        <div class="product-image">
                            <img src="@Url.Content(Convert.ToString(dr["PhotoPath"]))" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <div>@dr["VenueName"]</div>
                            <div>@dr["ContactNo"]</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-grow-1">
                            <div class="product-quantity">
                                @dr["CityName"]
                            </div>
                            <div class="product-price">
                                @dr["RentPerDay"]
                            </div>
                            <div data-venueid="@dr["VenueID"]" data-remove-url="@Url.Action("RemoveFavourite", "VenueDetails")">
                                <i class="heart fa-solid fa-heart"></i> <!-- You will need FontAwesome for the trash icon -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    

}
else if(accessor.HttpContext.Session.GetString("Role") == "VenueOwner" || accessor.HttpContext.Session.GetString("Role") == "Admin")

{
    <div class="pagetitle">
        <h1>Venue</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    <partial name="_SearchFormPartial" />

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h1 class="card-header text-primary"><strong>Venue List</strong></h1>
                        <div class="d-flex align-items-center">
                            @if (ViewBag.ISConfirmed == false)
                            {
                                <div class="d-flex">
                                    <button id="approveVenueButton" class="btn btn-success">Approve</button>
                                    <button id="rejectVenueBtn" class="btn btn-danger ms-2">Reject</button>
                                </div>
                            }

                            <div class="ms-auto">
                                <a href="@Url.Action("Create", "VenueDetails", new { area = "VenueDetails" })" class="btn shadow border btn-success">
                                    <i class="bi bi-plus-circle"></i> Add New Venue
                                </a>
                            </div>
                        </div>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    @if (ViewBag.ISConfirmed == false)
                                    {

                                        <th scope="col"><input type="checkbox" id="selectAllCheckboxes"></th>
                                    }
                                    <th scope="col">VenueID</th>
                                    <th scope="col">VenueName</th>
                                    <th scope="col">StateName</th>
                                    <th scope="col">CityName</th>
                                    <th scope="col">GuestCapacity</th>



                                    <th scope="col">CategoryName</th>

                                    <th scope="col">Created</th>
                                    @*@<th scope="col">Modified</th>*@
                                    @if (ViewBag.ISConfirmed == true)
                                    {
                                        <th scope="col"></th>
                                    }

                                </tr>
                            </thead>
                            <tbody>


                                @foreach (DataRow dr in Model.VenueDetails.Rows)
                                {
                                    <tr>
                                        @if (ViewBag.ISConfirmed == false)
                                        {
                                            <th> <input type="checkbox" class="form-check-input row-checkbox" name="venueIds" value="@dr["VenueID"]"></th>
                                        }
                                        <th scope="row">@dr["VenueID"]</th>
                                        <td>@dr["VenueName"]</td>
                                        <td>@dr["StateName"]</td>
                                        <td>@dr["CityName"]</td>
                                        <td>@dr["GuestCapacity"]</td>



                                        <td>@dr["CategoryName"]</td>

                                        <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yy")</td>
                                        @*@<td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yy")</td>*@

                                        <td>
                                            <div>


                                                @if (ViewBag.ISConfirmed == true)
                                                {
                                                    <a asp-area="VenueDetails" asp-controller="VenueDetails" asp-action="Delete" asp-route-VenueID="@dr["VenueID"]" class="btn btn-primary mx-2">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                    <a asp-area="VenueDetails" asp-controller="VenueDetails" asp-action="Create" asp-route-VenueID="@dr["VenueID"]" class="btn btn-primary">
                                                        <i class="bi bi-eye"></i>
                                                    </a>
                                                }
                                                




                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div style="margin-top:60px">
        <partial name="_SearchFormPartial" />
    </div>


    <div class="container-fluid full-screen">
        <div class="row">
            <div class="pagetitle">
                <h1>Venues</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="VenueDetails" asp-controller="VenueDetails" asp-action="VenueSearch">Home</a></li>

                        <li class="breadcrumb-item active">Venues</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <div class="col-12">
                <div class="row">
                    @foreach (DataRow dr in Model.VenueDetails.Rows)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">

                            <!-- Card with an image on top -->
                            <div class="card">
                                <img src="@Url.Content(Convert.ToString(dr["PhotoPath"]))" class="card-img-top" alt="..." style="height:35vh;overflow:hidden">
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6">
                                            <h5 style="font-weight: 600; color: rgba(1, 41, 112, 0.6);">
                                                Venue Name
                                            </h5>
                                            <h6>@dr["VenueName"]</h6>


                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <h5 style="font-weight: 600; color: rgba(1, 41, 112, 0.6;">
                                                City
                                            </h5>
                                            <h6><i class="bi bi-geo-alt-fill"></i>@dr["CityName"]</h6>


                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <h5 style="font-weight: 600; color: rgba(1, 41, 112, 0.6);">
                                                Category
                                            </h5>
                                            <h6><i class="bi bi-geo-alt-fill"></i>@dr["CategoryName"]</h6>


                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <h5 style="font-weight: 600; color: rgba(1, 41, 112, 0.6);">
                                                Guest Capacity
                                            </h5>
                                            <h6><i class="bi bi-geo-alt-fill"></i>@dr["GuestCapacity"]</h6>


                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-6">
                                            <h5 style="font-weight: 600; color: rgba(1, 41, 112, 0.6);">
                                                Rent Per Day
                                            </h5>
                                            <h6><i class="bi bi-geo-alt-fill"></i>@dr["RentPerDay"]</h6>


                                        </div>

                                    </div>
                                    <!-- Example Heart Icon for a Venue -->
                                    <div data-venueid="@dr["VenueID"]" data-add-url="@Url.Action("AddFavourite", "VenueDetails")" data-remove-url="@Url.Action("RemoveFavourite", "VenueDetails")">
                                        @if (dr["ISFavourite"] == DBNull.Value)
                                        {
                                            <i class="heart fa-regular fa-heart"></i>

                                        }
                                        else if (Convert.ToBoolean(dr["ISFavourite"]) == true)
                                        {
                                            <i class="heart fa-solid fa-heart"></i>

                                        }
                                        else
                                        {
                                            <i class="heart fa-regular fa-heart"></i>
                                        }
                                        
                                    </div>


                                    <div style="text-align:center">
                                        <a asp-area="VenueDetails" class="btn btn-danger" asp-controller="VenueDetails" asp-action="VenueDetail" asp-route-VenueID="@dr["VenueID"]" asp-route-CityID="@dr["CityID"]">More Details</a>
                                    </div>



                                </div>
                            </div><!-- End Card with an image on top -->
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
}


@section Scripts
 {
                            <script>
                                
                                function fun1() {
                                    if (confirm("Are you sure you want to delete?")) {
                                        return true;
                                    }
                                    else {
                                        return false;
                                    }
                                }
                            </script>
    
    <script>
        var dropdownByStateUrl = '@Url.Action("DropdownByState", "VenueDetails")';
        var ApproveButton = "#approveVenueButton";
        var inputName = "venueIds";
        var ExpectedParameter = "venueIDs";
        var url = '@Url.Action("ApproveVenueStatus", "VenueDetails")';
        var selectAllCheckboxes = '#selectAllCheckboxes';
        var ConfirmationMessage = "Are you sure you want to approve the selected venues?";
        var url1 = '@Url.Action("RejectVenue", "VenueDetails")';
        var DeleteButton = "#rejectVenueBtn";
    </script>
}
