@using System.Data;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

@using WeddingVeneus1.Areas.Booking.Models;
@model Booking_ViewModel1;
@{
    if (accessor.HttpContext.Session.GetString("Role") == "VenueOwner")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}
<div class="pagetitle">
    <h1>Venue</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-title">
        <div class="container">
            <div class="row g-4">
                <div class="col-12">
                    <form asp-area="Booking" asp-controller="Booking" asp-action="Search" method="post">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2 ">
                                <select class="form-select StateID" asp-for="@Model.booking_SearchModel.VenueID" asp-items="@(new SelectList(ViewBag.VenueList,"VenueID","VenueName"))" >
                                    <option value="">Select Venue</option>
                                </select>
                            </div>
                            
                            
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2">
                                <input type="date" asp-for="@Model.booking_SearchModel.BookingStartDate" class="form-control" placeholder="BookingStartDate" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2">
                                <input type="date" asp-for="@Model.booking_SearchModel.BookingEndDate" class="form-control" placeholder="BookingEndDate" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2">
                                <input type="text" asp-for="@Model.booking_SearchModel.AmountPaid" class="form-control" placeholder="AmountPaid" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2">
                                <input type="text" asp-for="@Model.booking_SearchModel.PendingAmount" class="form-control" placeholder="PendingAmount" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 mb-2">

                                <button type="submit" value="search" name="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" value="list" name="submit" class="btn btn-secondary">Reset</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
<div>
<div>
<div>
<div>
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">BookingID</th>
            <th scope="col">VenueName</th>
            <th scope="col">BookingStartDate</th>
            <th scope="col">BookingEndDate</th>
            <th scope="col">Number Of Days</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Pending Amount</th>
            @if (accessor.HttpContext.Session.GetString("Role") == "User")
            {
                                    <th scope="col">Actions</th>
            }


            
            @*@<th scope="col">Modified</th>*@
            

        </tr>
    </thead>
    <tbody>


        @foreach (DataRow dr in Model.bookingList.Rows)
        {
            <tr>
                <th scope="row">@dr["BookingID"]</th>
                <td>@dr["VenueName"]</td>
                <td>@Convert.ToDateTime(dr["BookingStartDate"]).ToString("dd-MM-yy")</td>
                <td>@Convert.ToDateTime(dr["BookingEndDate"]).ToString("dd-MM-yy")</td>
                <td>@dr["NumberOfDays"]</td>
                <td>@dr["AdvancePayment"]</td>
                <td>@dr["PaymentAfterEvent"]</td>




                @if (accessor.HttpContext.Session.GetString("Role") == "User")
                {
                <td>
                    <div>


                        <a asp-area="Booking" asp-controller="Booking" asp-action="PaymentPage" asp-route-bookingID="@dr["BookingID"]"  class="btn btn-primary">
                         <i class="bi bi-wallet"></i>
                        </a>
                        <a asp-area="Booking" asp-controller="Booking" asp-action="CancelBooking" asp-route-bookingID="@dr["BookingID"]"  class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i>
                        </a>




                    </div>
                </td>
                }
            </tr>

        }
    </tbody>
</table>
                        </div>
                        </div>
                        </div>
                        </div>
                        </section>

