@using WeddingVeneus1.Areas.Booking.Models;
@model BookingModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="pagetitle">
    <h1>Form Layouts</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Layouts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book Venue</h5>

                    <!-- Horizontal Form -->
                    <form asp-area="Booking" asp-controller="Booking" asp-action="Create" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row mb-3">
                            <input asp-for="VenueID"   id="VenueID" hidden/>
                            <input asp-for="UserID" hidden />
                            <input asp-for="DefaultAdvancePayPer" hidden />
                            
                            
                            

                            
                            
                            <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="UserName" class="form-control" id="inputText" readonly>
                            </div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            

                            <label asp-for="VenueName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="VenueName" class="form-control" id="inputText" readonly>
                            </div>
                            <span asp-validation-for="VenueName" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">  


                            <label asp-for="RentPerDay" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="RentPerDay" class="form-control" id="rentPerDay" readonly>
                            </div>
                            <span asp-validation-for="RentPerDay" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="NumOfDays" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="number" asp-for="NumOfDays" class="form-control" id="numberOfDays" readonly>
                            </div>
                            <span asp-validation-for="NumOfDays" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="number" asp-for="Amount" class="form-control" id="amount" readonly>
                            </div>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="AdvancePaymentPer" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="AdvancePaymentPer" class="form-control" id="advancePaymentPer" readonly>
                            </div>
                            <span asp-validation-for="AdvancePaymentPer" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="PaymentAfterEventPer" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="PaymentAfterEventPer" class="form-control" id="paymentAfterEventPer"readonly>
                            </div>
                            <span asp-validation-for="PaymentAfterEventPer" class="text-danger"></span>
                        </div>
                        @* <h1>@Model.AdvancePayment</h1>
                        <h1>@Model.PaymentAfterEvent</h1> *@
                        <div class="row mb-3">


                            <label asp-for="AdvancePayment" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="number" asp-for="AdvancePayment" class="form-control" id="advancePayment" >
                            </div>
                            <span asp-validation-for="AdvancePayment" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="PaymentAfterEvent" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="number" asp-for="PaymentAfterEvent" class="form-control" id="paymentAfterEvent" readonly>
                            </div>
                            <span asp-validation-for="PaymentAfterEvent" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="BookingStartDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="BookingStartDate"  class="form-control" id="inputStartDate" readonly />

                            </div>
                            <span  class="text-danger" asp-validation-for="BookingStartDate"></span>
                        </div>
                        <div class="row mb-3">


                            <label asp-for="BookingEndDate" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="BookingEndDate"  class="form-control" id="inputEndDate" readonly/>
                            </div>
                            <span class="text-danger" asp-validation-for="BookingEndDate"></span>
                        </div>
                        <h1 id="StatusMessage"></h1>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Book</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Horizontal Form -->

                </div>
            </div>
            @section scripts {
                
                
                
               <script>
                    var CalculateAmount = '@Url.Action("CalculateAmount", "Booking")';
                    var CalculateAdvancePaymentPer = '@Url.Action("CalculateAdvancePaymentPer", "Booking")';
                    var CalculateAdvancePayment = '@Url.Action("CalculateAdvancePayment", "Booking")';

               </script> 











            }

            
